<main class="pt-24 px-32 bg-black text-white h-full">
  <div class="flex flex-row justify-center">
    <%= if get_flash(@conn, :info) do %>
      <div class="p-2 rounded bg-gray-900 text-white">
        <%= get_flash(@conn, :info) %>
      </div>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
      <div class="p-2 rounded bg-red-900 text-white">
        <%= get_flash(@conn, :error) %>
      </div>
    <% end %>
  </div>
  <%= @inner_content %>
</main>
