<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Jameson", suffix: " - GGJ2022" %>
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Supermercado+One&family=Titillium+Web&display=swap" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="m0 h-screen w-full bg-black text-white">
    <header 
      class="fixed w-full px-10 py-2 glow-shadow bg-purple-800 text-white flex justify-between items-center">
      <div class="text-display text-2xl">
        <%= link "Jameson", to: Routes.page_path(@conn, :index) %>
      </div>
      <nav class="flex flex-row justify-center items-center">
          <%= if signed_in?(@conn) do %>
            <span class="p-1">
              Logged in as <%= current_username(@conn) %>
            </span>
            <span class="p-1">
              <%= button "Log out", to: Routes.session_path(@conn, :delete), method: :delete %>
            </span>
          <% else %>
            <span class="p-1"><%= button "Log in", to: Routes.session_path(@conn, :new), method: :get %></span>
            <span class="p-1"><%= button "Sign up", to: Routes.user_path(@conn, :new), method: :get%></span>
          <% end %>
          <span class="p-1">
            <%= button "Leaderboard", to: Routes.page_path(@conn, :leaderboard), method: :get %>
          </span>
          <span class="p-1">
            <%= button "About", to: Routes.page_path(@conn, :about), method: :get %>
          </span>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
