body {
  font-family: 'Titillium Web', sans-serif;
}

.text-display {
  font-family: 'Supermercado One', cursive;
}

.glow-shadow {
  box-shadow: 0 -1rem 3rem 1rem purple;
}

button {
  border: 1px solid white;
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
}

input, select {
  padding: .2rem .5rem;
  background-color: black;
  color: white;
  border: 1px solid white;
}

input:focus, select:focus {
  border-color: blue;
}

button:hover {
  background-color: white;
  color: black;
}

button:active {
  background-color: violet;
}