:root {
  --bg-primary: #6CA4AB;
  --bg-secondary: #9FAC7C;
  --fg-primary: #828767;
  --fg-secondary: #765C3A;
  --accent: #684C37;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg-primary);
}

a:visited {
  color: rgb()
}

header {
  background-color: var(--bg-secondary);
  box-shadow: 0 1rem 2rem var(--bg-primary);
  padding: 0 2rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

header > .logo {
  font-size: 2rem;
  padding: 1rem 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: block;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}